<div class="col-10 offset-1 about">
    <h1>About Splurgy</h1>
    
    <p>
        Splurgy was built (replicated by as a training assignment...) by <a target="_blank" href="https://github.com/yukonboy">Guy Halstead</a>
        </p>
        <br />
        <p>
        It was a done as part of a course assignment from The Firehose Project, set up by Marco Morawec and Ken Mazaika, the founders of the Firehose Project.
        </p>
        <p>
        If you want to learn how to code, check out the <a href="http://www.thefirehoseproject.com/">Firehose Project</a>.
        </p>
    </p>
    
    <div class="row">
      <div class="col-12 col-sm-4", style="padding-top:30px;">
        <%= image_tag 'guy.jpg', class: 'img-fluid' %>
      </div>
      
      <div class="col-12 col-sm-7 offset-sm-l", style="padding-top:30px;">
          <h2 class="text-center">Guy Halstead</h2>
          <br />
          <p class="text-center">
              Guy Halstead is a professional engineer, switching to coding to further expand his skillset and have more fun along the way. 
          </p>
      </div>
    </div>
    
    <br class="clear" />
    
    <br class="clear" />
    <br />
    <br />
    <br />
    <br />
</div>